 body{
    
 }
 
 
 /* body{
  background-image: url('C:\Users\horlab301\Desktop\Aguiar - Front\Front-end\aula3\imagem\cerveja.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    background-color: blue;  
    text-align: left;
    border-color: black;
    border-style: dotted;
    color: white;
    font-size: 60px;
    padding: 20px;
    border: 40px;
    font-family: cursive;
    margin: 50px;
    width: 400px;

}

div{

    background-color: violet;
    width: 50%;   

}

img{
    width: 400px ;

}
*/
