/** {
  margin: 05px;
  padding: 00px;
  background-color: antiquewhite;
}*/

/*header{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
*/
.central {
  /* caixa maior*/
  display: flex; /*uma caixa do lado da outra*/
  justify-content: space-between;
}

.central1 {
  /* caixa maior*/
  display: flex; /*uma caixa do lado da outra*/
  justify-content: space-evenly;
}
.central2 {
  /* caixa maior*/
  display: flex; /*uma caixa do lado da outra*/
  justify-content: space-evenly;
  border-radius: 100%;

}

section {
  display: flex;
  justify-content: center;
}


.imagemx img {
  border-radius: 100%;
  padding: 40px
}

.texto {
  text-align: justify;
  width: 80%;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;*/
}

/*.imagem1 {
  /*position: absolute;
  top: 40px;
  left: 40px;
  border-radius: 100%;
}*/

/*.imagem2 {
  position: relative;
}*/

.description {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}
.zindex {
  position: absolute;
  margin-left: 85px;

  margin-top: -107px !important;
}

.contato {
  text-align: left;
  padding: 10px;
}

.midias {
  text-align: right;
  padding: 05px;
}

.hr1 {
  border: 0;
  border-top: 1px solid #ccc;
}

.hr2 {
  border: 0;
  border-top: 7px solid #1215b9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}


nav {
  padding: 05px;
}

.cabecalho1 {
  max-width: 10px;
}


ul {
  list-style: none;
}

.titulo1 {
  font-size: 130%;
  color: blue;
}

/* ------- footer inicio -------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 7px solid #1215b9;

}
.footl{
  display: flex;
  text-align: 70%;
}
.footr{
  text-align: right;
}

/* ------- footer final -------------- */

/* ------------------------- inicio montagem do carrossel -------------------------- */

/*body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
} */

.slider{
    margin: 0 auto;
    width: 600px; /*600*/
    height: 200px; /*200*/
    overflow: hidden; /*tudo aquilo q ultrapassar o pai do slider(body) esconda o restante */
}

.slides{
    width: 400%; /*% em relação ao pai(slider) 400%*/
    height: 200px; /*200*/
    display: flex; /*mostra um ao lado do outro, mas no pai esta Slider esta hidden */
}

.slides input{
    display:none; /* os botões ficam escondidos a partir desse ponto */
}

.slide{
    width: 25%; /* em relação ao pai(slides)400% (25%)*/
    position: relative;
    transition: 2s;
}
.slide img{
    /*width: 600px; /*600*/
    width: 100%; /*800px*/
    height: 100%;
   flex-shrink: 0;
    
}

.manual-navigation{
    position: absolute;
    width: 600px;  /*800*/
    margin-top: -20px ;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid blue; /* tamanho, cor, stilo do botão */
    padding: 5px; /* tamanho do botão */
    border-radius: 10px;
    cursor: pointer; /*pointer, desenho de uma mão com dedinho */
    transition: 1s;
}

.manual-btn:not(:last-child){ /* o ultimo slide não aplica o código abaixo */
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: blue;
}

#radio1:checked ~.first{ /* função css: ~ combinador de mão subsequente, vai clicar no comando ao lado, no caso "first" e aplica o código abaixo */
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -25% /* vai puxar a próxima imagem */
}
#radio3:checked ~.first{
    margin-left: -50% /* vai puxar a próxima imagem */
}
#radio4:checked ~.first{
    margin-left: -75% /* vai puxar a próxima imagem */
}

/* ------------------------- final montagem do carrossel -------------------------- */

/* ------------------------- lojinha -------------------------- */

.topproduto{
  background-color: aqua;
  width: 100%;
  height: 50px;
  text-align: center;
}

section{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  
  
}
.linhaproduto{
   
  gap: 10px; /* espaço entre cada produto*/
  padding: 10px;
  justify-content: space-around;

}


.produto{
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  flex-wrap: wrap;
  padding: 10px;
 
}
.produto img{
 
  width: 30vh;
  height: 40vh;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.nomeprod{
  text-align: center;
 }
/* ------------------------- final lojinha -------------------- */

/* -------------------- dizimista -------------------- */
.form-container{
  text-align: auto;
  width: 100%;

}

.form-group{
  padding: 10px;
  
}
/* -----------------------fim dizimista -------------------- */

